#pcr-container {
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative; /* Anchor for Plotly */
}

/* Force the inner Plotly div to respect container size */
#pcr-container .js-plotly-plot,
#pcr-container .plot-container {
    width: 100% !important;
    height: 100% !important;
}
